In [22]:
sentence = "Should count all vowels"
vowels = "aeiouAEIOU"
letters = [char for char in sentence if char not in vowels]
print(letters)

['S', 'h', 'l', 'd', ' ', 'c', 'n', 't', ' ', 'l', 'l', ' ', 'v', 'w', 'l', 's']

In [6]:
import numpy as np

def looper(start, stop, step):
    return np.linspace(start, stop, step)

looper(1,5,4)

array([1.        , 2.33333333, 3.66666667, 5.        ])

In [4]:
def iterative_factorial(n):
  fact = 1
  for i in range (2, n+1):
    fact = fact*i
    print(fact)
  return fact

iterative_factorial(5)

2
6
24
120

120

In [2]:
def recur_factorial(n):
    if n == 1:
        return n
    else:
        temp = recur_factorial(n-1)
        temp = temp * n
    return temp

recur_factorial(5)

120

In [6]:
import pandas as pd
order_leads = pd.read_csv(
    'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/order_leads.csv',
    parse_dates = [3]
)
sales_team = pd.read_csv(
    'https://raw.githubusercontent.com/FBosler/Medium-Data-Exploration/master/sales_team.csv',
    parse_dates = [3]
)
df = pd.merge(
  order_leads,
  sales_team,
  on=['Company Id','Company Name']
)
df = df.rename(
  columns={'Order Value':'Val','Converted':'Sale'}
)

In [14]:
df

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
0,HZSXLI1IS9RGABZW,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-10-13,6952,0,William Taylor,ZTZA0ZLYZR85PTUJ
1,582WPS3OW8T6YT0R,D0AUXPP07H6AVSGD,Melancholy Social-Role,2017-09-02,7930,0,William Taylor,ZTZA0ZLYZR85PTUJ
2,KRF65MQZBOYG4Y9T,D0AUXPP07H6AVSGD,Melancholy Social-Role,2016-12-21,5538,1,William Taylor,ZTZA0ZLYZR85PTUJ
3,N3EDZ5V1WGSWW828,D0AUXPP07H6AVSGD,Melancholy Social-Role,2018-06-03,1113,0,William Taylor,ZTZA0ZLYZR85PTUJ
4,QXBC8COXEXGFSPLP,D0AUXPP07H6AVSGD,Melancholy Social-Role,2014-07-26,4596,0,William Taylor,ZTZA0ZLYZR85PTUJ
...,...,...,...,...,...,...,...,...
99995,HKZFX556ZQRZJZWR,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2017-11-06,7516,0,Ida Woodward,LF3CPWWZKSNB1AXI
99996,962CSDMAJ49E0CRK,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2018-08-02,442,1,Ida Woodward,LF3CPWWZKSNB1AXI
99997,ZW7RO9TLL6EVVJEC,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2014-11-02,8544,0,Ida Woodward,LF3CPWWZKSNB1AXI
99998,LNKGIWMZ9RT49IE9,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2017-04-01,6650,0,Ida Woodward,LF3CPWWZKSNB1AXI
99999,X9Y21H4JWX6OGC2Z,APH243SK72T90MPS,Trade-Preparatory Quarterbacks,2016-07-27,953,0,Ida Woodward,LF3CPWWZKSNB1AXI

In [18]:
grouped = df.groupby('Sales Rep')
grouped
type(grouped)
grouped.groups
grouped.get_group('Aaron Hendrickson')

,Order Id,Company Id,Company Name,Date,Val,Sale,Sales Rep,Sales Rep Id
25612,3BJY12LWBN7D0GJL,CE4544HJOFMONMH2,Follow-Up Boundary,2014-09-04,1940,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25613,W3HHOSC1H6A1PW37,CE4544HJOFMONMH2,Follow-Up Boundary,2015-09-24,2109,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25614,G9JKIZO4WD945GBH,CE4544HJOFMONMH2,Follow-Up Boundary,2014-12-06,4300,1,Aaron Hendrickson,AEMLQ09IYM72ACBL
25615,BKIJVKZ7REVN6P8B,CE4544HJOFMONMH2,Follow-Up Boundary,2017-05-07,3026,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25616,WFHGWR4PAD04A2GJ,CE4544HJOFMONMH2,Follow-Up Boundary,2016-01-20,5033,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
...,...,...,...,...,...,...,...,...
25899,NATK7K3TZUH32BBE,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2015-01-27,6095,1,Aaron Hendrickson,AEMLQ09IYM72ACBL
25900,EGD6IRB0UML62XB0,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2018-11-04,7652,1,Aaron Hendrickson,AEMLQ09IYM72ACBL
25901,9Z18A7D1T8EUH58D,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2016-05-08,4746,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25902,R0LUW64V2F3O2HSD,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2017-02-16,6158,0,Aaron Hendrickson,AEMLQ09IYM72ACBL
25903,UMHMBM5M179IHX6D,CGDGXAW6GNU6JIEG,Fiftieth Art'S,2017-07-28,2164,0,Aaron Hendrickson,AEMLQ09IYM72ACBL

In [19]:
grouped.size()

Sales Rep
Aaron Hendrickson    292
Adam Sawyer          324
Adele Kimmel         115
Adrian Daugherty     369
Adrianna Shelton      37
                    ...
Willie Lin            44
Willie Rau            95
Willie Sanchez       309
Yvonne Jones          74
Yvonne Lindsey        67
Length: 499, dtype: int64

In [26]:
df.groupby(df['Sales Rep'].str.split(' ').str[0]).size()

Sales Rep
Aaron        292
Adam         324
Adele        115
Adrian       369
Adrianna      37
            ...
Wesley       144
Wilbert      213
William     1393
Willie       448
Yvonne       141
Length: 318, dtype: int64

In [37]:
df.groupby(df['Sales Rep'].apply(lambda x: 'William' in x)).size()

Sales Rep
False    97111
True      2889
dtype: int64